/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.payment-methods {
    text-align: left;
    margin-bottom: 15px;
}

.payment-methods h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}


.payment-methods label {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    gap: 8px; 
    margin-bottom: 1rem;
}

input[type="radio"] {
    margin: 0; 
    width: 16px;
    height: 16px;
}


/* Dynamic Payment Details */
#payment-details {
    margin: 15px 0;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #fb641b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #ff4f00;
}
